/* For testing only */
*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
  background-color: white;
  opacity: .7;
}

.column {
  min-height: 100px;
}

/*/////////////////////          GENERAL          /////////////////////*/
body {
  margin: 0;
  background-color: lightblue;
  font-size: 3vmax;
}

/*/////////////////////          CONTENT          /////////////////////*/
.col1 {

}

/*/////////////////////          @MEDIA          /////////////////////*/

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {
/* Styles */
  body{
    background-color: blue;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) and (orientation : portrait) {
  body{
    background-color: red;
  }
}

/* Smartphones Large (landscape) */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape){
  body{
    background-color: yellow;
  }
}

/* Smartphones Large (portrait) */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait){
  body{
    background-color: orange;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  body{
    background-color: pink;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  body{
    background-color: purple;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  body{
    background-color: green;
  }
}
